<div class="w-full bg-gray-50">
<img src="https://images.pexels.com/photos/1094544/pexels-photo-1094544.jpeg" alt="" class="w-full h-screen object-cover opacity-40 absolute top-0 left-0">
	<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
		<div class="bg-white rounded-md shadow-sm w-96 overflow-hidden">
			<div class="flex items-center justify-center bg-green-600 py-4">
				<img src="fieldsightsolutions.png"
					alt="FieldSightSolutions logo"
					class="h-12 w-auto">
			</div>
			<div class="flex bg-green-200">
				<button [class.active]="isLoginMode"
					[class]="isLoginMode ? 'bg-green-800 text-white' : 'bg-green-200 text-green-800'"
					(click)="toggleMode()"
					class="flex-1 py-2 text-center transition-colors duration-300">
					Login
				</button>
				<button [class.active]="!isLoginMode"
					[class]="!isLoginMode ? 'bg-green-800 text-white' : 'bg-green-200 text-green-800'"
					(click)="toggleMode()"
					class="flex-1 py-2 text-center transition-colors duration-300">
					Registreer
				</button>
			</div>
			@if(isLoginMode) {
				<div class="p-4">
				<form [formGroup]="loginForm"
					(ngSubmit)="loginSubmit()">
					<div class="mb-3">
						<input formControlName="email"
							type="email"
							placeholder="E-mail"
							class="w-full h-10 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-800">
					</div>
					<div class="mb-3">
						<input formControlName="password"
							type="password"
							placeholder="Wachtwoord"
							class="w-full h-10 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-800">
					</div>
					<button  type="submit"
						class="w-full py-2 bg-green-800 text-white rounded-md hover:bg-green-700 transition mb-6">
						Inloggen
					</button>

				</form>
			</div>
			}
			@if(!isLoginMode) {
				<div class="p-4">
				<form [formGroup]="registerForm"
					(ngSubmit)="registerSubmit()">
					<div class="mb-3">
						<input formControlName="firstName"
							type="text"
							placeholder="Voornaam"
							class="w-full h-10 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-800">
					</div>
					<div class="mb-3">
						<input formControlName="lastName"
							type="text"
							placeholder="Achternaam"
							class="w-full h-10 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-800">
					</div>
					<div class="mb-3">
						<input formControlName="email"
							type="email"
							placeholder="E-mail"
							class="w-full h-10 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-800">
					</div>
					<div class="mb-3">
						<input formControlName="adres"
							type="text"
							placeholder="Straat + nummer"
							class="w-full h-10 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-800">
					</div>
					<div class="mb-3">
						<input formControlName="bus"
							type="text"
							placeholder="Bus (niet vereist)"
							class="w-full h-10 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-800">
					</div>
					<div class="mb-3">
						<input formControlName="gemeente"
							type="text"
							placeholder="Gemeente"
							class="w-full h-10 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-800">
					</div>
					<div class="mb-3">
						<input formControlName="password"
							type="password"
							placeholder="Wachtwoord"
							class="w-full h-10 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-800">
					</div>
					<button type="submit"
						class="w-full py-2 bg-green-800 text-white rounded-md hover:bg-green-700 transition">
						Registreren
					</button>
				</form>
			</div>
			}
		</div>
	</div>
</div>
