<div class="container mx-auto p-4">
  <div class="bg-white shadow-md rounded-lg p-6">
    <h1 class="text-2xl font-bold mb-4">Gebruikersbeheer</h1>

    <!-- Filter sectie -->
    <div class="mb-4">
      <!-- Filteren op naam tijdens het typen -->
      <input type="text" placeholder="Zoek op naam" [(ngModel)]="filter.name" (input)="filterUsers()"
        class="border p-2 rounded m-2 w-full md:w-auto" />

      <!-- Dropdown voor rol filteren -->
      <select [(ngModel)]="filter.role" (change)="filterUsers()" class="border p-2 rounded m-2 w-full md:w-auto">
        <option value="">Alle</option>
        <option *ngFor="let role of userRoles" [value]="role.id">{{ role.name }}</option>
      </select>
    </div>

    <!-- Gebruikers tabel -->
    <table class="min-w-full bg-white" *ngIf="users$; else noUsersFound">
      <thead>
        <tr>
          <th class="py-2">Naam</th>
          <th class="py-2">Rol</th>
          <th class="py-2">Acties</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async; track: $index" [ngClass]="{
              'bg-green-200': user.userRole_id === 1,
              'bg-red-200': user.userRole_id === 2,
              'bg-yellow-200': user.userRole_id === 3,
              'bg-blue-200': user.userRole_id === 4
            }">
          <td class="border px-4 py-2">{{ user.firstName }} {{ user.lastName }}</td>
          <td class="border px-4 py-2">
            <ng-container *ngIf="user.isEditing; else viewMode">
              <select [(ngModel)]="user.userRole_id" class="border p-2 rounded w-full text-black">
                <option *ngFor="let role of userRoles" [value]="role.id">
                  {{ role.name }}
                </option>
              </select>
            </ng-container>
            <ng-template #viewMode>{{ user.role?.name }}</ng-template>
          </td>
          <td class="border px-4 py-2">
            <ng-container *ngIf="user.isEditing; else actionButtons">
              <button (click)="saveUser(user)" class="text-green-600 m-2 rounded hover:text-green-700 transition">
                <i class="fas fa-save fa-lg"></i>
              </button>
              <button (click)="cancelEdit(user)" class="text-red-600 m-2 rounded hover:text-red-700 transition">
                <i class="fas fa-times fa-lg"></i>
              </button>
            </ng-container>
            <ng-template #actionButtons>
              <button (click)="editUser(user)" class="" title="Bewerk dit perceel">
                <img src="icons/pencil.svg" alt="Bewerk" width="25" height="25"
                  class="brightness-100 hover:brightness-90 transition-all" />
              </button>
              <button (click)="deleteUser(user)" class="" title="Verwijder dit perceel">
                <img src="icons/bin.svg" alt="Verwijder" width="25" height="25"
                  class="brightness-100 hover:brightness-90 transition-all" />
              </button>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Fallback bericht wanneer geen gebruikers gevonden zijn -->
    <ng-template #noUsersFound>
      <p class="text-center text-gray-500">Geen gebruikers gevonden</p>
    </ng-template>

    <!-- Paginatie -->
    <pagination-controls (pageChange)="page = $event"></pagination-controls>

    @if(confirmModal) {
    <div class="w-screen h-full backdrop-blur-sm fixed left-0 top-0 z-50">
      <div
        class="w-96 max-h-72 fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-gray-200 rounded-md text-center p-3">
        <p>Bent u zeker dat u <span class="font-bold">{{ selectedUser?.firstName }} {{ selectedUser?.lastName }}
          </span>wilt verwijderen?
        </p>
        <p class="text-sm">De gegevens worden permanent verwijderd!</p>
        <div class="flex mt-3 text-white">
          <button type="button" (click)="cancelDelete()"
            class="h-10 w-3/5 bg-red-800 rounded-md mr-3 hover:bg-red-500 transition-all">Nee</button>
          <button type="submit" (click)="confirmDelete()"
            class="h-10 w-3/5 bg-green-800 rounded-md hover:bg-green-700 transition-all">Ja</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>