<div class="overflow-hidden">
    <div id="percelenManager" [ngClass]="{
        'translate-x-0': isOpen, 
        'translate-x-full': !isOpen
      }"
        class="percelenManager h-screen pt-24 px-5 text-center bg-gray-50 absolute right-0 top-0 z-40 w-1/4 transform transition-all duration-300 ease-in-out"
        [class.open]="isOpen">
        <img (click)="togglePanel()" class="absolute cursor-pointer -left-16 top-40" width="64" height="120"
            src="menubutton.svg" />
        @if(isLoading) {
        <div class="loader text-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-primary_dark animate-spin" fill="none"
                viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
            </svg>
        </div>
        } @else {
        @if(!nieuwPerceel && !geselecteerdPerceel){
        <p class="text-green-800 text-2xl pb-4">Mijn percelen</p>
        <input [(ngModel)]="filterText" type="text" class="w-full h-10 mb-4 p-2 border border-gray-300 rounded-md"
            placeholder="Zoek perceel" />
        <div class="h-96 overflow-y-auto">
            @for (perceel of filteredUserPercelen; track $index) {
            <app-perceelknop [perceel]="perceel" (click)="focusOnField(perceel.id)"></app-perceelknop>
            }
        </div>
        <div class="absolute bottom-4 left-1/2 -translate-x-1/2 w-full flex px-4 text-white">
            <button (click)="openPerceelToevoegen()" class="w-3/5 bg-green-600 h-12 rounded-md mr-4">
                <p>Voeg perceel toe</p>
            </button>
            <button class="w-3/5 bg-green-600 h-12 rounded-md">
                <p>Toegang beheren</p>
            </button>
        </div>
        }@else if ( geselecteerdPerceel ) {
        @if(!isEdit) {
        <div>
            <div>
                <p class="text-green-800 text-2xl pb-4">{{ geselecteerdPerceel.name }}</p>
                <button (click)="editPerceel()" class="absolute right-8 top-24">
                    <img src="pencil.svg" alt="Bin" width="20" height="20">
                </button>
                <button (click)="deleteUserField()" class="absolute right-2 top-24">
                    <img src="bin.svg" alt="Bin" width="20" height="20">
                </button>
            </div>

            <div class="text-left">
                <label class="text-sm pb-2 ml-1">Naam</label>
                <p class="w-full h-10 mb-4 p-2 border border-gray-300 rounded-md flex items-center">
                    {{ geselecteerdPerceel.name }}
                </p>
                <label class="text-sm pb-2 ml-1">Oppervlakte in ha.</label>
                <p class="w-full h-10 mb-4 p-2 border border-gray-300 rounded-md flex items-center">
                    {{ geselecteerdPerceel.acreage }}
                </p>
                <label class="text-sm pb-2 ml-1">Gemeente</label>
                <p class="w-full h-10 mb-4 p-2 border border-gray-300 rounded-md flex items-center">
                    {{ geselecteerdPerceel.municipality }}
                </p>
                <label class="text-sm pb-2 ml-1">Postcode</label>
                <p class="w-full h-10 mb-4 p-2 border border-gray-300 rounded-md flex items-center">
                    {{ geselecteerdPerceel.postalcode }}
                </p>
            </div>

        </div>
        <div class="absolute bottom-4 left-1/2 -translate-x-1/2 w-full flex px-4 text-white">
            <button (click)="wisGeselecteerdPerceel()" class="w-3/5 bg-green-600 h-12 rounded-md mr-4">
                <p>Terug</p>
            </button>
            <button class="w-3/5 bg-green-600 h-12 rounded-md">
                <p>Schadeclaim maken</p>
            </button>
        </div>
        } @else {
        <p class="text-green-800 text-2xl pb-4">Bewerk perceel</p>
        <form class="text-left">
            <label for="name" class="text-sm pb-2 ml-1">Naam</label>
            <input [(ngModel)]="geselecteerdPerceel.name" name="name" type="text"
                class="w-full h-10 mb-4 p-2 border border-gray-300 rounded-md" placeholder="Naam" />
            <label for="acreage" class="text-sm pb-2 ml-1">Oppervlakte in ha.</label>
            <input [(ngModel)]="geselecteerdPerceel.acreage" name="acreage" type=" text"
                class="w-full h-10 mb-4 p-2 border border-gray-300 rounded-md" placeholder="Oppervlakte" />
            <label for="municipality" class="text-sm pb-2 ml-1">Gemeente</label>
            <input [(ngModel)]="geselecteerdPerceel.municipality" name="municipality" type=" text"
                class="w-full h-10 mb-4 p-2 border border-gray-300 rounded-md" placeholder="Gemeente" />
            <label for="municipality" class="text-sm pb-2 ml-1">Postcode</label>
            <input [(ngModel)]="geselecteerdPerceel.postalcode" name="postalcode" type=" text"
                class="w-full h-10 mb-4 p-2 border border-gray-300 rounded-md" placeholder="Postcode" />
        </form>
        <div class="absolute bottom-4 left-1/2 -translate-x-1/2 w-full flex px-4 text-white">
            <button (click)="editPerceel()" class="w-3/5 bg-green-600 h-12 rounded-md mr-4">
                <p>Annuleer</p>
            </button>
            <button (click)="confirmEditPerceel()" class="w-3/5 bg-green-600 h-12 rounded-md">
                <p>Opslaan</p>
            </button>
        </div>
        }
        }
        @else {
        <p class="text-green-800 text-2xl pb-4">Nieuw perceel toevoegen</p>
        @if(geselecteerdNewPerceel){
        <form class="text-left">
            <label for="name" class="text-sm pb-2 ml-1">Naam</label>
            <input [(ngModel)]="geselecteerdNewPerceel.name" name="name" type="text"
                class="w-full h-10 mb-4 p-2 border border-gray-300 rounded-md" placeholder="Naam" />
            <label for="acreage" class="text-sm pb-2 ml-1">Oppervlakte in ha.</label>
            <input [(ngModel)]="geselecteerdNewPerceel.acreage" name="acreage" type="text"
                class="w-full h-10 mb-4 p-2 border border-gray-300 rounded-md" placeholder="Oppervlakte" />
            <label for="municipality" class="text-sm pb-2 ml-1">Gemeente</label>
            <input [(ngModel)]="geselecteerdNewPerceel.municipality" name="municipality" type="text"
                class="w-full h-10 mb-4 p-2 border border-gray-300 rounded-md" placeholder="Gemeente" />
            <label for="postalcode" class="text-sm pb-2 ml-1">Postcode</label>
            <input [(ngModel)]="geselecteerdNewPerceel.postalcode" name="postalcode" type="text"
                class="w-full h-10 mb-4 p-2 border border-gray-300 rounded-md" placeholder="Postcode" />
            <!-- <label for="crop" class="text-sm pb-2 ml-1">Gewas</label>
                        <select name="crop" class="w-full h-10 mb-4 p-2 border border-gray-300 rounded-md bg-white">
                            <option [value]="null" disabled selected>Selecteer een gewas</option>
                            <option *ngFor="let crop of crops" [value]="crop.id">{{ crop.name }}</option>
                        </select> -->
        </form>
        <p></p>
        } @else {
        <p>Selecteer een perceel door er op te klikken.</p>
        }
        <div class="absolute bottom-4 left-1/2 -translate-x-1/2 w-full flex px-4 text-white">
            <button [disabled]="geenPercelen" [ngClass]="{
                            'bg-green-600': !geenPercelen, 
                            'bg-gray-400': geenPercelen
                          }" (click)="openPerceelToevoegen()" class="w-3/5 bg-green-600 h-12 rounded-md mr-4">
                <p>Terug</p>
            </button>
            <button [disabled]="!geselecteerdNewPerceel" [ngClass]="{
                            'bg-green-600': geselecteerdNewPerceel, 
                            'bg-gray-400': !geselecteerdNewPerceel
                          }" class="w-3/5 bg-green-600 h-12 rounded-md"
                (click)="perceelLandbouwerToevoeging(userId, geselecteerdNewPerceel?.id)">
                <p>Toevoegen</p>
            </button>
        </div>
        }
        }
    </div>
    <app-modal [showModal]="messageModal" [message]="modalMessage" (close)="openModal()"></app-modal>
    @if(geselecteerdPerceel) {
    <app-confirm-modal [showModal]="confirmMessageModal" (confirm)="confirmDeleteUserField(geselecteerdPerceel.id)"
        (close)="closeConfirmModal()"></app-confirm-modal>
    }

</div>
<div id="map" class="h-screen w-full z-30"></div>