<div *ngIf="claims.length > 0; else noClaims" class="claims-container">

    <!-- Header Section -->
    <div class="claims-row-header">
        <div class="header-item">Veld Naam</div>
        <div class="header-item">Datum (van - tot)</div>
        <div class="header-item">Soort Schade</div>
        <div class="header-item"></div>
        <div class="header-item">Status</div>
        

    </div>

    <!-- Claim Rows Section -->
    <div *ngFor="let claim of claims" class="claim-card">
        <div class="card-content">
            <div class="card-item">{{ claim.field.name }}</div>
            <div class="card-item">
                {{ claim.startDate | date:'dd/MM/yyyy' }} - {{ claim.endDate | date:'dd/MM/yyyy' }}
            </div>
            <div class="card-item">{{ claim.damage_type }}</div>

            <div class="card-item">
                <span *ngIf="claim.status === 1; else closedbutton"> <button (click)="editClaim(claim.id)"
                        class="edit-button">Bekijk/Bewerk</button>
                </span>
                <ng-template #closedbutton> <button (click)="editClaim(claim.id)" class="edit-button">Bekijk</button>
                </ng-template>
            </div>

            <div class="card-item">
                <span *ngIf="claim.status === 1; else closed">openstaand</span>
                <ng-template #closed>bezig</ng-template>
            </div>

            <div *ngIf="claim.status === 2 || claim.status === 3 || claim.status === 4" class="mt-4 text-sm text-gray-500">
            <!-- PDF Generation Button -->
            <div class="card-item">
                <button (click)="generatePDF(claim.id)" class="pdf-button">
                    Download PDF
                </button>
            </div>

        </div>

        </div>
    </div>

    <!-- Centered button below the claims section -->
    <div class="button-container">
        <a routerLink="/schadeclaim" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="bg-gray-200 px-5 py-2 rounded-md text-green-800 hover:bg-green-100 border-green-800 transition-all">
            Schadeclaim Aanmaken
        </a>
    </div>
</div>

<ng-template #noClaims>
    <p>Nog geen claims gevonden</p>

    <div class="button-container">
        <a routerLink="/schadeclaim" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            class="bg-gray-200 px-5 py-2 rounded-md text-green-800 hover:bg-green-100 border-green-800 transition-all">
            Schadeclaim Aanmaken
        </a>
    </div>
</ng-template>